html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 1000px;
    font-family: 'helvetica neue';
  }
  
  h1 {
    color: #A683E3;
    padding: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    font-weight: 1000;
  }
.graph-form{
  display: block;
  text-align: center;
}

  .box{
    background: white;
    border-radius: 1rem;
    margin: 0 20%;
    padding: 1rem;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

.createDB{
  text-align: center;
  margin: 20px 0 0 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 1.7rem;
  color: #E4E9FD;
}

  #myForm {
    text-align: center;
    margin-left: 20px;
  }

  th{
    padding: 1rem 0 2rem 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1.7rem;
  }

.button{
  color: #000;
  background-color: whitesmoke;
  border-radius: 2rem;
  font-size : 1.2rem;
  padding: 0.5rem 1.6rem;
  margin: 0.6rem 0 0 0 ;

}

.button:active{
  background-color: rgb(205, 203, 203);
}

.submit-btn{
  text-align: center;
  height: 3rem;
}
  
input[type="number"] {
    text-align: center;
    height: 3rem;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 70%;
    border-width: 5px;
    background-color: #d3d3d34f;
    border-radius: 0.5rem;
    margin: 0 3rem;
  }
  
  input[type="number"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #A683E3;
  }
  
  ::placeholder {
    color: grey;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
  }
  
  footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
