<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"> -->
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    </head>
    <body>
        
        

        <div class = "form">
            <div class="box">
                <form id = "CreateDB" action="/databaseReport" method="POST">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="4">Create Database (csv) for Grain Propellant</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>    
                                <td> Diameter </td>
                                <td><input type="number" name="Dstart" placeholder="Range Start" required></td>
                                <td><input type="number" name="Dend" placeholder="Range End" required></td>
                                <td><input type="number" name="Dstep" placeholder="Step Size" required></td>
                            </tr>
                            <tr>
                                <td> Internal Diameter </td>
                                <td><input type="number" name="Distart" placeholder="Range Start"required></td>
                                <td><input type="number" name="Diend" placeholder="Range End" required></td>
                                <td><input type="number" name="Distep" placeholder="Step Size" required></td>
                            </tr>
                            <tr>
                                <td> Grain Length </td>
                                <td><input type="number" name="Gstart" placeholder="Range Start"required></td>
                                <td><input type="number" name="Gend" placeholder="Range End" required></td>
                                <td><input type="number" name="Gstep" placeholder="Step Size" required></td>
                            </tr>
                            <tr>
                                <td> Burn Rate Coefficient (a)</td>
                                <td><input type="number" name="astart" placeholder="Range Start"required></td>
                                <td><input type="number" name="aend" placeholder="Range End" required></td>
                                <td><input type="number" name="astep" placeholder="Step Size" required></td>
                            </tr>
                            <tr>
                                <td> Pressure </td>
                                <td><input type="number" name="Pstart" placeholder="Range Start"required></td>
                                <td><input type="number" name="Pend" placeholder="Range End" required></td>
                                <td><input type="number" name="Pstep" placeholder="Step Size" required></td>
                            </tr>
                            <tr>
                                <td> Burn Rate Coefficient (n) </td>
                                <td><input type="number" name="Nstart" placeholder="Range Start"required></td>
                                <td><input type="number" name="Nend" placeholder="Range End" required></td>
                                <td><input type="number" name="Nstep" placeholder="Step Size" required></td>
                            </tr>
                            <tr>
                                <td> Number of Holes </td>
                                <td><input type="number" name="Nhstart" placeholder="Range Start"required></td>
                                <td><input type="number" name="Nhend" placeholder="Range End" required></td>
                                <td><input type="number" name="Nhstep" placeholder="Step Size" required></td>
                            </tr>
                            <!--<tr colspan=2>
                                <td> Step Size (For Volume/Surface Area) </td>
                                <td><input type="number" name="VolStep" placeholder="Volume Step" required></td>
                                <td><input type="number" name="SAStep" placeholder="SA Step" required></td>
                            </tr> -->
                            
                        </tbody>
                    </table>
                </div>
                <div class = "submit-btn">
                    <input type="submit" value = "Create Database" class="button"/>
                    <input type="button" value="Back" onclick="history.back()" class="button">
                    
                </div>
                <br>
            </form>
        </div>
        


        <script src="" async defer></script>
    </body>

    <script>
        var timeout;
        
        async function getStatus() {
        
          let get;
          
          try {
            const res = await fetch("/status");
            get = await res.json();
          } catch (e) {
            console.error("Error: ", e);
          }
          
          document.getElementById("innerStatus").innerHTML = get.status * 10 + "&percnt;";
          
          if (get.status == 10){
            document.getElementById("innerStatus").innerHTML += " Done.";
            clearTimeout(timeout);
            return false;
          }
           
          timeout = setTimeout(getStatus, 1000);
        }
        
        getStatus();
        </script>
</html>