<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <body>

        <h1>Grain Propellant (n-holed)</h1>

        <div class="graph-form">
            <div class="box">
                <form id = "myForm" action="/report" method="POST">
                    <table>
                        <thead>
                            <tr> 
                                <th colspan = "2"> Visualize Charts for Particular Data </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> Outside Diameter</td>
                                <td> <input type="number" step="any" name="D" required>  </td>
                            </tr>
                            <tr>
                                <td>Inside Diameter</td>
                                <td> <input type="number" step="any" name="d" required>  </td>
                            </tr>
                            <tr>
                                <td>Number of perforations</td>
                                <td> <input type="number" name="n" required > </td>
                            </tr>
                            <tr>
                                <td>Length of propellant Grain</td>
                                <td> <input type="number" step="any" name="L" required > </td>
                            </tr>
                            <tr>
                                <td>Step Size (0.1) </td>
                                <td><input type="number" step="any" name="z" required>   </td>
                            </tr>
                            <tr>
                                <td>Burn rate coefficient (a)</td>
                                <td><input type="number" step="any" name="a" required >   </td>
                            </tr>
                            <tr>
                                <td>Pressure</td>
                                <td><input type="number" step="any" name="p" required >   </td>
                            </tr>
                            <tr>
                                <td>Burn rate coefficient (n)</td>
                                <td><input type="number" step="any" name="N"  required>   </td>
                            </tr>
                            <tr>
                                <td>Cstar (c*)</td>
                                <td><input type="number" step="any" name="cstar"  required>   </td>
                            </tr>
                            <tr>
                                <td>Throat Diameter</td>
                                <td><input type="number" step="any" name="dt"  required>   </td>
                            </tr>
                        </tbody>
                    </table>

                    <!--
                    <img src="/static/images/logo.png">  -->
        
                    <input type="submit" value = "Visualize Charts" class= "button" />
                    <input type="button" onclick="reset()" class = "button" value="Reset">
                    <br>
                </form>
            </div>
            
        </div>
        
        <div class="createDB">
            Or Create CSV: 
            <a href = "createDB">
                
                <input type="button" value = "Create Database" class = "button" class= "btn">
            </a>

        </div>
        
        <script>
            function reset() {
            document.getElementById("myForm").reset();
            }
        </script>
        <br>



        
        
        
    </body>
</html>

