<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename="css/report.css")}}">
</head>
<body>
    <div class="dashboard-container">
        <div class="section">
            <!-- Part 1: Inputted Data -->
            <h2>USER INPUT:</h2>
            <ul>
                <li>Outer Diameter: {{ report.D }}</li>
                <li>Inner Diameter: {{ report.d }}</li>
                <li>Number of perforations: {{ report.n }}</li>
                <li>Length of propellant Grain: {{ report.L }}</li>
                <li>Step Size: {{ report.dt }}</li>
                <li>Burn rate coefficient (a): {{ report.a }}</li>
                <li>Pressure: {{ report.p }}</li>
                <li>Burn rate coefficient (n): {{ report.n }}</li>
                <li>Cstar (c*): {{ report.cstar }}</li>
                <li>Throat Diameter: {{ report.dt }}</li>
            </ul>
        </div>
        <div class="graphs">
            <div class="graph">
                <img src="{{url_for('static', filename='images/Volume.png')}}" alt="Volume vs Time">
                <h3>Volume vs Time</h3>
            </div>
            <div class="graph">
                <img src="{{url_for('static', filename='images/Surface Area.png')}}" alt="Surface Area vs Time">
                <h3>Surface Area vs Time</h3>
            </div>
            <div class="graph">
                <img src="{{url_for('static', filename='images/Pressure.png')}}" alt="Pressure vs Time">
                <h3>Pressure vs Time</h3>
            </div>
        </div>
       
        <div class="section">
            <!-- Part 5: Burn Rate and Graph (Model: Deep Learning with RCNN) -->
            <h2>Model Used: Deep Learning with RCNN</h2>
            <p>Burn Rate: 25</p>
            <div class="graphs">
                <div class="graph">
                    <img src="{{url_for('static', filename='images/BurnRateDLRCNN.png')}}" alt="Burn Rate DL RCNN">
                    <h3>Burn Rate vs Time (DL RCNN)</h3>
                </div>
        </div>
    </div>
   
        <div class="section">
            <!-- Part 6: Burn Rate and Graph (Model: Deep Learning RND Methodology) -->
            <h2>Model Used: Deep Learning RND Methodology</h2>
            <p>Burn Rate: 50</p>   
            <div class="graph">
                <img src="{{url_for('static', filename='images/BurnRateDLRND.png')}}" alt="Burn Rate DL RND">
                <h3>Burn Rate vs Time (DL RND)</h3>
            </div>
        </div>
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/scripts.js')}}" async defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
</body>
</html>
